HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/test.env

REDIS_HOST=redis-19092.c289.us-west-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=19092
REDIS_PASSWORD=A1Mrd5VQEJ7dY2MygKkebBAQoE7Zd5r8
REDIS_SSL=false